:root {
    font-size: 20px;
}
/* Selectores */
/* selector de elemento */
body { 
    font-family:"IBM Plex Sans", sans-serif ;

}
h1{
    color:greenyellow;
    background-color: rgb(16, 16, 15);
    text-align:center;
    font-size: 3rem;
    font-family: 'Ms Madi', cursive;
}
#div_temas {
    display: none !important;
}
.product_cell{
    border: 2px solid rgb(17, 0, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
/* over se activa puntero por encima imagen */
.product_cell:hover{
    border: 2px dashed red;
    box-shadow: 0px 0px 10px red;
    cursor:grab;
}

.product_cell:hover> img{
    opacity: 0.5;
    border:4px solid black;
}

.laptop > h2{
    color:blue  
}

.laptop> h3{
    color: cadetblue;
    text-align: right;
    padding-right: 10px;

}
.celular> h2{
    color:red;
}
.celular> h3{
    color: rgb(131, 54, 219);
}
.audifono >h2{
    color:green;
    text-align: center;
}
.audifono >h3{
    color:aqua;
    text-align: center;
}
/* Estilo par el formulario */
.div_form {
    width: 400px;
    margin: 20px auto;
}
.div_form > form > input{
    height: 40px;
    border: 1px solid #ccc;
    border-radius:20px;
    width: 70%;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
}
.div_form> form > input:focus{
    border: 2px soli blue;
}
.div_form> form > button {
    height: 40px;
    border: 1px solid #ccc;
    border-radius:20px;
    width: 20%;
}
.div_form> form > button:focus{
    border: 2px solid red;
}
/* pseudo elemento */
.price::before{
    content:"$ ";
    font-size: 15;
}
.price::after{
    content:".00";
}
