/* header h1{
    background: red;
    color: white;
}

@media(max-width: 600px){
    header h1{
        background: green;
    }
}
@media (min-width:600px){
    header h1{
        background: goldenrod;
    }
}
@media (min-height: 400px){
    header h1{
        background: blue;
    }
}
@media (max-height:400px){
    header h1{
        background: orange;
    }
}
@media (orientation: portrait){
    header h1{
        background: violet;
    }
}
@media (orientation: landscape){
    header h1{
        background: rgb(18, 18, 19);
    }
} */
header h1{
    background: blue;
}
/* @media (min-width:359px) and (max-width:740px){
    header h1{
    background: pink;
    }
}  */
/* @media (max-width:300px), (min-width:600px){
    header h1{
    background: pink;
    }
}      */
@media not all and (max-width:600px){
    header h1{
        background: green;
    }
}